<form class="w-50 m-auto" method="POST" action="">
  <div class="form-group mt-4">
    <label for="search-input">Tim Kiem</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa...">
    <label for="gender-option">Chon gioi tinh</label>
    <select name="gender" id="gender-option" class="mt-4">
      <option value="">-- Chon gioi tinh --</option>
      <option value="male">Nam</option>
      <option value="female">Nu</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tim kiem</button>
</form>